footer{
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
}

#mainHead{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic; 
    color: black;
    cursor: pointer;
}

#mainHead:hover{
    font-size: 40px;
}

#common-head{
    font-style: italic; 
    color: black;
    font-size: 20px;
    cursor: pointer;
}

#common-head:hover{
    color: gold;
}


#li-items{
    color: rgb(136, 134, 134);
    font-style: italic;
}

#li-items:hover{
    color: gold
}

img{
    height: 45px;
    width: 60px;
    cursor: pointer;
}